<div class="col" style="padding: 0px 9px 0px 9px !important;">
	<div style="display: flex;width: 100%;flex-wrap: wrap; margin-bottom: 10px;">
		<div class="card" style="margin-right: 7px; margin-bottom: 7px;background-color: #f6f6f675;">
		  <div class="card-body" style="padding: 10px 20px 10px 15px;"><i class="fa fa-tachometer-alt-slow" style="font-size: 20px;"></i> Dashboard</div>
		</div>
		<div class="card" style="margin-right: 7px; margin-bottom: 7px;background-color: #f6f6f675;">
		  <div class="card-body" style="padding: 10px 20px 10px 15px;"><i class="fa fa-users" style="font-size: 20px;"></i> User Accounts</div>
		</div>
		<div class="card" style="margin-right: 7px; margin-bottom: 7px;background-color: #f6f6f675;">
		  <div class="card-body" style="padding: 10px 20px 10px 15px;"><i class="fa fa-user-graduate" style="font-size: 20px;"></i> Alunmni Accounts</div>
		</div>
		<div class="card" style="margin-right: 7px; margin-bottom: 7px;background-color: #f6f6f675;">
		  <div class="card-body" style="padding: 10px 20px 10px 15px;"><i class="fa fa-warehouse" style="font-size: 20px;"></i> Year/Section</div>
		</div>
		<div class="card" style="margin-right: 7px; margin-bottom: 7px;background-color: #f6f6f675;">
		  <div class="card-body" style="padding: 10px 20px 10px 15px;"><i class="fa fa-cogs" style="font-size: 20px;"></i> Settings</div>
		</div>
	</div>
	<div ui-view="admin-view"></div>
</div>