<div class="widget">
  <h4 class="widget-title">Newsfeed</h4>
  <div class="your-page">
    <figure>
      <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
      <span>@Alumni</span>
    </figure>
    <div class="page-meta">
      <a href="#" class="underline">Dane Vincent</a>
      <span>Software Developer</span>
      <span>Accenture</span>
    </div>
  </div>
  <sidenav-menu-directive></sidenav-menu-directive>
</div>

<div style="display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0.7rem;
    background: #fff;
    border-radius: 2px;
    position: sticky;top: 87px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.02), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    ">
  <h4 style="
    color: #515365;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px;width: 100%;margin: 0px;">Friends</h4>
    <ul style="padding-left: 20px;
    padding-right: 20px;text-align: center;margin-bottom: 1.5rem;">
    <hr style="margin-top: .1pc; margin-bottom: 1pc;">
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-1.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-2.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-3.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-4.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-15.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-17.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-6.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-9.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-7.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
    </ul>  
</div>

