<div class="post-section">
  <div class="post-new">
    <div class="post-new-body">
      <div class="post-new-image">
        <img src="uploads/dane.jpg">
      </div>
      <div class="post-new-content">
        <input type="text" class="form-control form-control post-new-input" placeholder="Whats on your mind?" open-modal>
      </div>
    </div>
    <hr style="margin-top: .7pc; margin-bottom: .5pc;">
    <div class="button-type">
      <a href="">
        <img src="images/image.svg" style="width: 28px;">
        Photo/Video
      </a>
      <a href="" >
        <img src="images/tag.svg" style="width: 26px;">
        Tag Connections
      </a>
      <a href="">
        <img src="images/feeling.svg" style="width: 18px">
        Feeling/Activity
      </a>
    </div>
  </div>
</div>
<upload-progress-directive percentage="{{ nf.percentage }}" fileuploaded="nf.uploadedfile" ng-if="nf.uploading"></upload-progress-directive>
<div class="posts-body" style="margin-top: .7em;box-shadow: 0 3px 1px -2px rgba(0,0,0,.02), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);" ng-repeat="post in nf.post">
  <posted-feed-directive userpost="post" style="width: 100%;"></posted-feed-directive>
</div>