<div class="col" style="padding-left: 0px;">
	<div class="widget" >
	  <h4 class="widget-title">Works at</h4>
	  <div class="your-page">
  	    <figure style="max-width: 38px;">
	      <a href="#" title=""><img src="images/note.svg" style="border: none; border-radius: 0px; width: 38px;"></a>
	    </figure>
	    <div class="page-meta">
	      <span><a href="insight.html" title="">Accenture</a></span>
	      <span><a href="insight.html" title="">Software Developer</a></span>
	    </div>
	  </div>
	  <sidenav-menu-directive></sidenav-menu-directive>
	</div>
</div>
<div class="col-md-8" style="padding: 0px;">
	<div style="display: flex;">
		<news-feed-directive class="col" style="padding: 0px;"></news-feed-directive>
	</div>
</div>