<div style="display: flex;width: 100%;justify-content: space-between;align-items: center;height: 40pt;border-bottom: 1px solid #e8e8e8;margin-bottom: 1em;">
  <ul class="nav" style="justify-content: center;align-items: center;">
    <li class="nav-item" >
  		<span style="color: #8e8e8e;font-weight: 600;font-size: 15px;">User Accounts /</span>
    </li>
  </ul>
  <div >
  	<button class="btn btn-primary btn-sm">Add New</button>
  </div>
</div>
<div class="row">
	<div class="col">
	  <table class="table table-sm table-striped table-dark table-fixed" style="font-family: century gothic;">
	    <thead >
	      <tr>
	        <th>Name</th>
	        <th>username</th>
	        <th>Role</th>
	        <th>Province</th>
	        <th>Municipality</th>
	        <th class="center">Status</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	      </tr>
	      <tr>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	        <td>Firstname</td>
	      </tr>
	    </tbody>
	  </table>	
	</div>
</div>